@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');

.mont{
    font-family: 'Montserrat', sans-serif;
}

.titulo {
    color: rgb(164, 110, 179);
    font-size: 2.6rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.textocadastro {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.7rem;
    color: black;
}

.textocriarconta {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.botaoCadastro {
    width: 40vw;
    height: 70px;
    border-radius: 3rem;
    background-color: #D3A7D9;
}

.bg-color-Cad {
    background-color: rgba(211, 167, 217, 0);
}


#dataNasc::placeholder {
    color:black ;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 300;
    text-align: start;
}

input[type="date"]{
    background-color: transparent;
    color: #000;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-align: start;
    font-weight: 300;
}

.labelformulario{
    color: black;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    margin-left: 1rem;
}

.escondido{
    display: none;
}

.termouso {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
}

.botaologin-cadastro {
    width: 11vw;
    height: 75px;
    border-radius: 1.5rem;
}

@media (max-width: 1024px) {
    .textocriarconta {
        font-size: 1.3rem;
    }

    .labelformulario {
        font-size: 1rem;
    }

    .botaoCadastro {
        width: 60vw;
    }

    .termouso {
        font-size: 1.2rem;
    }

    .botaologin-cadastro {
        width: 25vw;
    }
}

@media (max-width: 425px) {
    .imagemlogo {
        width: 65%;
        margin-left: 4rem;
    }

    .titulo {
        font-size: 1.9rem;
    }

    .textocadastro {
        font-size: 1.5rem;
    }

    .textocriarconta {
        font-size: 1.1rem;
    }

    .botaoCadastro {
        width: 85vw;
    }

    .labelformulario {
        margin-left: 0;
    }

    .termouso {
        font-size: 1rem;
    }

    input[type="date"]{
        font-size: 1.1rem;
        margin-right: 1rem;
    }

    .botaologin-cadastro {
        width: 40vw;
    }
}