@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

.textonav{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}

.mont{
    font-family: 'Montserrat', sans-serif;
}

.divimagemartigo {
    background-image: url('/images/artigoDiabete.svg');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloartigo {
    letter-spacing: 0.4rem;
}

.subartigo {
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
}

.colortexto {
    color: #D0FF49;
}

@media (max-width: 1440px) {
    .textonav {
        font-size: 1.4rem;
    }

}

@media (max-width: 1024px) {
    .textonav {
        gap: 10rem 5rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 425px) {
    .textonav {
        font-size: 1rem;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 0;
    }

    .diabcel {
        width: 80vw;
        height: 100%;
    }

    .diabceltext {
        text-align: center;
    }
}