@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

.textonav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}

.textoinformativo {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.botaovoltar {
    width: 10vw;
    height: 60px;
    border-radius: 3rem;
}