@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

.textonav{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}

.mont{
    font-family: 'Montserrat', sans-serif;
}

.divimagemartigo2 {
    background-image: url('/images/artigoHipertensao.svg');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloartigo {
    letter-spacing: 0.4rem;
}

.subartigo {
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
}

.colortexto2 {
    color: #B54646;
}

@media (max-width: 425px) {
    .textonav {
        font-size: 1rem;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}