@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

.botaologin{
    width: 25vw;
    height: 80px;
    border-radius: 3rem;
}

.botaocriar{
    width: 15vw;
    height: 80px;
    border-radius: 3rem;
}

.mont{
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1024px) {
    .botaologin {
        width: 70vw;
    }

    .mira_cs {
        display: none;
    }

    .botaocriar {
        width: 50vw;
    }

    .logincel {
        margin-left: 3.5rem;
    }
}