@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

html {
  font-size: 62,5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 252, 236, 245;
  --background-end-rgb: 252, 236, 245;
}

/* BARRA DE ROLAGEM */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #F2D5E5;
}

::-webkit-scrollbar-thumb {
  background: #AF75BF;
  border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 252, 236, 245;
    --background-end-rgb: 252, 236, 245;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navBackground {
  background-color: rgb(175, 117, 191);
  height: 5rem;
}

.titulo{
  color: rgb(164, 110, 179);
  font-size: 2.7rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.texto{
  color: black;
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.imagemlogo {
  width: 75%;
}

.textoinformativo{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.textopadrao{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.botao{
  background-color: rgb(175, 117, 191);
  width: fit-content;
  border-radius: 1.5rem;
  height: 5rem;
  width: 35rem;
  margin: 0 40rem;
}

.divimagem{
  background-image: url('/images/Logo-FazerParte.svg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.divcard{
  width: 24rem;
  height: 30rem;
}

.textobotao{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: 1rem;
}

.titulop{
  color: rgb(0, 0, 0);
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1rem;
  margin: 4rem 30rem;
}

.titulov{
  color: rgb(79, 99, 86);
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.entenda{
  background-color: rgb(172, 198, 180);
  border-radius: 1.5rem;
  width: 65.5vw;
  height: 65.5%;
}

.entenda2{
  background-color: rgb(211, 167, 217);
  border-radius: 1.5rem;
  width: 65.5vw;
  height: 65.5%;
}

.tituloentenda{
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 4rem;
}

.pentenda{
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 3.5rem;
}

.imagemsabia {
  width: 10%;
}

.imagement {
  width: 5%;
}

/* FOOTER DA HOME PAGE */
footer {
  background-color: rgba(176, 99, 72, 0.84);
}

.titulofooter {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}