@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');

.mont{
    font-family: 'Montserrat', sans-serif;
}

.textonav{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}

.metasbgcel {
    height: 100%;
}

@media (max-width:1440px) {
    .metasbgcel {
        height: 100%;
    }

    .textonav {
        font-size: 1.4rem;
    }
}

@media (max-width: 1024px) {
    .metasbgcel {
        height: 100%;
    }

    .textonav {
        gap: 10rem 5rem;
        font-size: 1.2rem;
    }

    .calendariocelresp {
        display: flex;
        align-items: center; /* Centraliza os elementos na coluna */
    }

    .calendariocelresp th,
    .calendariocelresp td {
        box-sizing: border-box;
        width: 100%; /* Ocupa a largura total disponível */
        max-width: none; /* Remove a largura máxima */
        white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */
    }

    .calendariocelresp thead {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; /* Espaçamento uniforme entre os dias da semana */
        width: 100%; /* Ocupa a largura total da tela */
    }

    .calendariocelresp th {
        flex: 1; /* Distribui o espaço igualmente entre os dias da semana */
        padding: 4.7rem 2rem;
    }

    .calendariocelresp tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; /* Espaçamento uniforme entre as células */
        width: 100%; /* Ocupa a largura total da tela */
    }

    .calendariocelresp td {
        flex: 1; /* Distribui o espaço igualmente entre as células */
        box-sizing: border-box;
    }
}

@media (max-width: 425px) {
    .textonav {
        font-size: 1rem;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 0;
    }

    .checkcel {
        text-align: center;
    }

    .metascel {
        width: 85%;
    }

    .divcelmetas {
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }

    .metastextcel {
        text-align: center;
    }

    .metasbgcel {
        height: 100%;
    }

    .calendariocel {
        display: inline; /* Altera para bloco para empilhar em telas pequenas */
    }

    .bgcalencel {
        width: 100%; /* Ocupa a largura total na tela pequena */
    }

    .buttoncelcalend {
        margin-left: 0;
        margin-top: 1rem; /* Adiciona espaço superior para melhorar a aparência */
    }

    .respcheckcel {
        margin-bottom: 2rem;
        width: 100%;
    }

    .calendariocelresp {
        display: flex;
        align-items: center; /* Centraliza os elementos na coluna */
    }

    .calendariocelresp th,
    .calendariocelresp td {
        box-sizing: border-box;
        width: 100%; /* Ocupa a largura total disponível */
        max-width: none; /* Remove a largura máxima */
        white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */
    }

    .calendariocelresp thead {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; /* Espaçamento uniforme entre os dias da semana */
        width: 100%; /* Ocupa a largura total da tela */
    }

    .calendariocelresp th {
        flex: 1; /* Distribui o espaço igualmente entre os dias da semana */
        padding: 4.7rem 2rem;
    }

    .calendariocelresp tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; /* Espaçamento uniforme entre as células */
        width: 100%; /* Ocupa a largura total da tela */
    }

    .calendariocelresp td {
        flex: 1; /* Distribui o espaço igualmente entre as células */
        box-sizing: border-box;
        padding: 5rem 4rem
    }
}