@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');

.mont{
    font-family: 'Montserrat', sans-serif;
}

.textonav{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}

.metasbgcel {
    height: 100%;
}

@media (max-width:1440px) {
    .metasbgcel {
        height: 100%;
    }

    .textonav {
        font-size: 1.4rem;
    }
}

@media (max-width: 1024px) {
    .metasbgcel {
        height: 100%;
    }

    .textonav {
        gap: 10rem 5rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 425px) {
    .textonav {
        font-size: 1rem;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 0;
    }

    .checkcel {
        text-align: center;
    }

    .metascel {
        width: 85%;
    }

    .divcelmetas {
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }

    .metastextcel {
        text-align: center;
    }

    .metasbgcel {
        height: 100%;
    }

    .bgcalencel {
        width: 50%;
    }

    .buttoncelcalend {
        margin-left: 0;
    }

    .calendariocel {
        display: inline;
    }

    .respcheckcel {
        margin-bottom: 2rem;
    }
}