@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

.textonav{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}

.cardverde{
    height: 30rem;
    width: 50vw;
}

.botaocard{
    width: 37%;
    height: 10%;
}

.cardartigo {
    border-radius: 3rem;
    height: 16rem;
}

.mont{
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 425px) {
    .textonav {
        font-size: 1rem;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .gap-48 {
        gap: 1rem;
    }

    .imagemlogo {
        width: 65%;
    }

    .mt-12 {
        margin-top: 2rem;
    }

    .cardverde {
        width: 80vw;
        height: 37rem;
    }

    .botaocard {
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }

    .textocel {
        font-size: 1.25rem;
        line-height: 1.8rem;
    }

    .divcelmetas {
        margin-left: 1rem;
    }

    .divcelartigos {
        display: inline;
        padding-top: 2rem;
    }

    .textocelartigos {
        font-size: 1.3rem;
        line-height: 1.3rem;
        padding-right: 0;
        padding-left: 0;
        width: auto;
        text-align: center;
    }

    .cardartigo {
        margin-top: 2rem;
    }
}